* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

a,
a:hover,
ul,
li {
	all: unset;
	cursor: pointer;
}

main {
	width: 100%;
	height: calc(100vh - 90px - 60px);
	display: flex;
	justify-content: center;
	overflow-y: auto;
	overflow-x: hidden;
}

section {
	max-width: 1920px;
	width: 100%;
	height: fit-content;
	display: flex;
	align-items: start;
	justify-content: center;
	overflow-y: hidden;
	overflow-x: hidden;
	scroll-behavior: smooth;
	padding: 1.2rem 1.5rem;
}

img {
	max-width: 100%;
	height: auto;
}

.MuiButtonBase-root {
	border-radius: 0.5rem;
}
